{{ define "__text_content" }}{{ range .Labels.SortedPairs }}{{ .Name | title }}: {{ .Value }}
{{ end }}
{{ range .Annotations.SortedPairs }}{{ .Name | title }}: {{ .Value }}
{{ end }}{{ end }}

{{ define "telegram.template.message" }}{{ range .Alerts }}
{{ if eq .Status "firing" }}🔥{{ else }}✅{{ end }} {{ .Status | toUpper }} ({{ .StartsAt.Local.Format "02/01 15:04" }})
{{ template "__text_content" . }}
{{ end }}{{ end }}
